body {
    background-color: powderblue;
 
  }

  h1{
    text-align: center;
    color: #4CAF50;
    margin-top: 200px;
  }

  div.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
    text-align: center;
  }
  
  div.bottomwhitespace {
    padding-bottom: 100pt;
    padding-top: 50pt;
    font-size: 0
  }
  
  .btn-group .button, a, input {
    background-color: #4CAF50;
    /* Green */
    margin-top: 35pt;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn-group .button:hover, a:hover, input:hover {
    background-color: #3e8e41;
  }  
